.header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 880px;
    margin: 45px 200px 0 200px;
  }

  .header::after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 1px rgba(84, 84, 84, .7);
  }

  .header:hover::after {
    border: solid 1px blue;
  }
  
  @media screen and (max-width: 1279px) {
    .header {
      max-width: 928px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .header {
      max-width: 720px;
      margin: 35px 100px 0 100px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .header {
      width: 440px;
      margin: 32px 50px 0 50px;
    }
  }
  
  @media screen and (max-width: 540px) {
    .header {
      width: 100%;
      margin: 28px 0 0 0;
    }
  }