.profile-info__main {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    z-index: 0;
    max-width: 336px;
   }
   
  @media screen and (max-width: 767px) {
    .profile-info__main {
      max-width: 336px;
      width: 100%;
      justify-content: flex-end;
    }
  }
   
  @media screen and (max-width: 540px) {
    .profile-info__main {
      max-width: 217px;
      padding: 0 0 0 46px;
    }
  }