.profile-info__edit-button {
    position: relative;
    max-width: 24px;
    aspect-ratio: 1/1;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0;
    margin: 0;
    border: solid 1px rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    cursor: pointer;
  }

  .profile-info__edit-button:hover {
    opacity: .6;
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px #0000ff;
  }
  
  @media screen and (max-width: 540px) {
    .profile-info__edit-button {
      max-width: 18px;
    }
  }