.profile__avatar {
    max-width: 120px;
    padding-right: 26.25px;
  }
  
  @media screen and (max-width: 767px) {
    .profile__avatar {
      align-self: center;
      justify-self: center;
      justify-items: center;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 540px) {
    .profile__avatar {
      align-self: center;
      padding: 3.75px 26.25px 3.75px 22.5px;
    }
  }
  