.element__group-heart {
  max-width: 22px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-position: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  border: none;
  background: none;
  cursor: pointer;
  align-items: flex-end;
  justify-self: center;
  background-image: url(../../../images/heart-group.svg);
  }

.element__group-heart:hover {
  opacity: .5;
}