.element__group-heart {
  width: 22px;
  height: 19px;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  background: none;
  cursor: pointer;
  align-items: flex-end;
  justify-self: center;
  background-image: url(../../../images/heart-group.svg);
  flex-shrink: 0;
  }

.element__group-heart:hover {
  opacity: .5;
}